.block-tx-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -15px;
  position: relative;
  @media (min-width: 550px) {
    margin-top: 1rem;
    flex-direction: row;
  }
  h2 {
    line-height: 1;
    margin: 0;
    position: relative;
    padding-bottom: 0;
    @media (min-width: 550px) {
      align-self: end;
    }
  }

  .transaction-heading {
    padding-bottom: 10px;

    > span {
      color: var(--transparent-fg);
      display: block;
      font-size: .6rem;
      letter-spacing: .1em;
      margin-bottom: .35rem;
      text-transform: uppercase;
    }

    small {
      color: var(--transparent-fg);
      display: block;
      font-size: .62rem;
      letter-spacing: .025em;
      margin-top: .4rem;
    }

    @media (min-width: 550px) {
      padding-bottom: 0;
    }
  }
}

.tx-skeleton {
  margin-top: 10px;
  margin-bottom: 10px;
  .header-bg {
    &:first-child {
      padding: 10px;
      margin-bottom: 10px;
    }
    &:nth-child(2) {
      .row {
        height: 107px;
      }
    }
  }
}
