<ng-container *ngIf="(loadingBlocks$ | async) === false; else loadingBlocks" [class.minimal]="minimal">
  <div class="mempool-blocks-container" [class.time-ltr]="timeLtr" [style.--block-size]="blockWidth+'px'">
    <div class="flashing" *ngIf="(mempoolBlocks$ | async) as mempoolBlocks">
      <ng-template ngFor let-projectedBlock [ngForOf]="mempoolBlocks" let-i="index" [ngForTrackBy]="trackByFn">
        <div
          *ngIf="minimal && spotlight > 0 && spotlight === i + 1"
          class="spotlight-bottom"
          [style.right]="mempoolBlockStyles[i].right"
        ></div>
        <div @blockEntryTrigger [@.disabled]="i > 0 || !animateEntry" [attr.data-cy]="'mempool-block-' + i" class="bitcoin-block text-center mempool-block" [class.hide-block]="count && i >= count" id="mempool-block-{{ i }}" [ngStyle]="mempoolBlockStyles[i]" [class.blink-bg]="projectedBlock.blink" [style]="blockTransformation">
          <a draggable="false" [routerLink]="[getHref(i) | relativeUrl]"
            class="blockLink" [attr.aria-label]="'Open projected block ' + (i + 1)" [ngClass]="{'disabled': (this.stateService.blockScrolling$ | async)}">&nbsp;</a>
          <div class="block-body">
            <ng-container *ngIf="!minimal">
              <div [attr.data-cy]="'mempool-block-' + i + '-fees'" class="fees">
                ~<app-fee-rate [fee]="projectedAverageFee(projectedBlock)" unitClass="" rounding="1.0-0"></app-fee-rate>
              </div>
              <div class="fee-span pumpologia-change"
                [class.positive]="(projectedMarket?.price_change_usd || 0) > 0"
                [class.negative]="(projectedMarket?.price_change_usd || 0) < 0">
                {{ formatPumpologiaChange(projectedMarket?.price_change_usd) }}
              </div>
              <div class="block-size pumpologia-price">
                {{ formatPumpologiaUsd(projectedMarket?.price_usd) }}
              </div>
              <div class="transaction-count pumpologia-interest">
                {{ formatPumpologiaOpenInterest() }}
              </div>
              <div class="time-difference">
                <app-time kind="since" [time]="lastConfirmationTimestamp" [fastRender]="true" [precision]="1" minUnit="minute"></app-time>
              </div>
            </ng-container>
          </div>
          <span class="animated-border"></span>
        </div>
      </ng-template>
    </div>
    <app-acceleration-sparkles [style]="{ position: 'absolute', right: 0}" [arrow]="arrowElement" [run]="acceleratingArrow"></app-acceleration-sparkles>
    <div *ngIf="arrowVisible" #arrowUp id="arrow-up" [ngStyle]="{'right': rightPosition + (blockWidth * 0.3) + containerOffset + 'px', transition: transition }" [class.blink]="txPosition?.accelerated"></div>
  </div>
</ng-container>

<ng-template #loadingBlocks>
  <div class="mempool-blocks-container" [class.time-ltr]="timeLtr" [style.--block-size]="blockWidth+'px'">
    <div class="flashing">
      <ng-template ngFor let-projectedBlock [ngForOf]="mempoolEmptyBlocks" let-i="index" [ngForTrackBy]="trackByFn">
        <div class="bitcoin-block text-center mempool-block" [class.hide-block]="count && i >= count" id="mempool-block-{{ i }}" [ngStyle]="mempoolEmptyBlockStyles[i]"></div>
      </ng-template>
    </div>
  </div>
</ng-template>
